<div class="container">
  <div class="row ">
    <h1 class="d-flex justify-content-center">CHỈNH SỬA KHÁCH HÀNG</h1>
  </div>
  <div>
    <form *ngIf="customerForm" [formGroup]="customerForm" (ngSubmit)="updateCustomer(id)">
      <div>
        <div class="row">
          <div class="col-3" style="margin-left: auto">
            <a [routerLink]="['/customer/list']" class="btn btn-success">
              <span>BACK</span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Tên khách hàng:</div>
        </div>
        <div class="row">
          <div class="col-12">
            <input formControlName= "customerName" class="form-control" type="text">
          </div>
          <div class="col-6" *ngIf="customerForm.controls.customerName.hasError('required') && (customerForm.controls.customerName.touched)">
            Khong duoc bo trong!
          </div>
        </div>

        <div class="row">
          <div class="col-6">Ngày sinh:</div>
        </div>
        <div class="row">
          <div class="col-12">
            <input formControlName="customerBirthday" class="form-control" type="date">
            <div class="mb-4 text-danger"
                 *ngIf="customerForm.controls.customerBirthday.hasError('required') && customerForm.controls.customerBirthday.touched">
              *Bạn chưa đủ 18 tuổi hoặc bạn đã nhập ngày sinh không đúng!
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">Giới tính:</div>
        </div>
        <div class="row">
          <div class="col-12">
            <select formControlName="customerGender" class="form-select" name="">
              <option>Nam</option>
              <option>Nữ</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-6">Số CMND:</div>
        </div>
        <div class="row">
          <div class="col-12">
            <input formControlName="customerIdCard" class="form-control" type="text">
          </div>
        </div>

        <div class="row">
          <div class="col-6">Số điện thoại:</div>
        </div>
        <div class="row">
          <div class="col-12">
            <input formControlName="customerPhone" class="form-control" type="text">
          </div>
        </div>

        <div class="row">
          <div class="col-6">Email:</div>
        </div>
        <div class="row">
          <div class="col-12">
            <input formControlName="customerEmail" class="form-control" type="text">
          </div>
          <div class="mb-4 text-danger"
               *ngIf="customerForm.controls.customerEmail.hasError('required') && customerForm.controls.customerEmail.touched">
            *Email invalidate!
          </div>
        </div>

        <div class="row">
          <div class="col-6">Địa chỉ:</div>
        </div>
        <div class="row">
          <div class="col-12">
            <input formControlName="customerAddress" class="form-control" type="text">
          </div>
        </div>

        <div class="row">
          <div class="col-6">Loại khách</div>
        </div>
        <div class="row">
          <div class="col-12">
            <select formControlName="customerType" class="form-select" name="">
              <option ngValue="" disabled>---Loại Khách Hàng---</option>
              <option *ngFor="let item of customerTypes" [ngValue]="item.id">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <button type="submit" class="btn btn-success" >EDIT</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


