<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CREATE-FACILITY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">

    <style>
        .row {
            padding-bottom: 10px;
        }

        body{
            background-image: url('../../img/bg-furama-m2.jpg');
            background-size: cover;
            height: 100vh;
            width: 100%;
        }
    </style>

</head>
<body onload="onchangeFacility(1)">
<div class="container">
    <div class="row ">
        <h1 class="d-flex justify-content-center">CREATE-FACILITY</h1>
    </div>
    <div>
        <form action="/facility/..." method="post" class="form-search ">
            <div>
                <div class="row">
                    <div class="col-3" style="margin-left: auto">
                        <button class="btn-outline-success">Back</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">Facility type</div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <select class="form-select" name="" onload="onchangeFacility(this.value)"
                                onchange="onchangeFacility(this.value)">
                            <option value="1">Villa</option>
                            <option value="2">House</option>
                            <option value="3">Room</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">Name</div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input class="form-control" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">Cost</div>
                </div>

                <div class="row">
                    <div class="col-12"><input type="text" class="form-control"></div>
                </div>

                <div class="row">
                    <div class="col-6">Area</div>
                </div>

                <div class="row">
                    <div class="col-12"><input class="form-control" type="text"></div>
                </div>

                <div class="row">
                    <div class="col-6">Max people</div>
                </div>

                <div class="row">
                    <div class="col-12"><input class="form-control" type="text"></div>
                </div>

                <div class="row">
                    <div class="col-6">Rent type</div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <select class="form-select" name="" id="">

                        </select>
                    </div>
                </div>

                <div class="row room">
                    <div class="col-6">Standard room</div>
                </div>

                <div class="row room">
                    <div class="col-12"><input type="text" class="room form-control"></div>
                </div>

                <div class="row room">
                    <div class="col-6">Description other convenience</div>
                </div>

                <div class="row room">
                    <div class="col-12"><input class="room form-control" type="text"></div>
                </div>

                <div class="row house room">
                    <div class="col-6">Pool area</div>
                </div>

                <div class="row house room">
                    <div class="col-12"><input type="text" class="room house form-control"></div>
                </div>

                <div class="row room">
                    <div class="col-6">Number of Floors</div>
                </div>

                <div class="row room">
                    <div class="col-12 room"><input type="text" class="room form-control">
                    </div>
                </div>

                <div class="row villa house" style="display: none">
                    <div class="col-6">Facility free</div>
                </div>

                <div class="row villa house" style="display: none">
                    <div class="col-12"><input type="text" class="villa house form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <button class="btn-outline-success">Edit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<script>
    function onchangeFacility(name) {
        let collection;
        let temp1 = document.getElementsByClassName("house");
        let temp2 = document.getElementsByClassName("room");
        let temp3 = document.getElementsByClassName("villa");
        if (name == 1) {
            collection = document.getElementsByClassName("villa");
        } else if (name == 2) {
            collection = document.getElementsByClassName("house");
        } else {
            collection = document.getElementsByClassName("room");
        }
        for (let i = 0; i < temp1.length; i++) {
            temp1[i].style.display = "none";
        }
        for (let i = 0; i < temp2.length; i++) {
            temp2[i].style.display = "block";

        }
        for (let i = 0; i < temp3.length; i++) {
            temp3[i].style.display = "block";
        }
        for (let i = 0; i < collection.length; i++) {
            collection[i].style.display = "none";
        }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>