<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../vendors/bootstrap/bootstrap.min.css">

    <style>
        .bg-img {
            background-image: url("https://www.marriott.com/content/dam/marriott-homepage/brand/LargeBanner_desktop.jpg.transform/mcom-hp-transform-2880x1152/image.jpg");
            background-size: cover;
            height: 200px;
        }
    </style>

</head>
<body>
<div class="container-fluid">
    <div class="row ">
        <div class="col-12 bg-img position-relative">
            <span style="font-size: 1.75rem;font-weight: 500;top: 40%;left: 50%"
                  class="position-absolute">FACILITY</span>
        </div>
    </div>
    <div class="row">
        <div class="col-1 pt-3">
            <button class="btn btn-primary">Create</button>
        </div>
    </div>

    <div class="row container" style="margin: 50px auto">
        <div class="row p-3">
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OCEAN SUITE</h5>
                        <p class="card-text">Room size 85.8m</p>
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>