<div class="container">
  <div class="row ">
    <h1 class="d-flex justify-content-center">
      CREATE-CUSTOMER
    </h1>

    <div>
      <form action="/customer/create" method="post" class="form-search">
        <div>
          <div class="row">
            <div class="col-3" style="margin-left: auto">
              <button class="btn-outline-success">Back</button>
            </div>
          </div>
          <div class="row">
            <div class="col-6">Loại khách</div>
          </div>
          <div class="row">
            <div class="col-12">
              <select class="form-select" name="">
                <option>Diamond</option>
                <option>Plantinium</option>
                <option>Gold</option>
                <option>Silver</option>
                <option>Member</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-6">Tên khách hàng:</div>
          </div>
          <div class="row">
            <div class="col-12">
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="col-6">Ngày sinh:</div>
          </div>
          <div class="row">
            <div class="col-12">
              <input class="form-control" type="date">
            </div>
          </div>

          <div class="row">
            <div class="col-6">Số điện thoại:</div>
          </div>
          <div class="row">
            <div class="col-12">
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="col-6">Giới tính:</div>
          </div>
          <div class="row">
            <div class="col-12">
              <select class="form-select" name="">
                <option>Nam</option>
                <option>Nữ</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-6">Số CMND:</div>
          </div>
          <div class="row">
            <div class="col-12">
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="col-6">Email:</div>
          </div>
          <div class="row">
            <div class="col-12">
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="col-6">Địa chỉ:</div>
          </div>
          <div class="row">
            <div class="col-12">
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <button type="submit" class="btn-outline-success">CREATE</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

