<h1>Danh sách danh mục sản phẩm</h1>
<a routerLink="/category/create">Tạo mới danh mục</a>
<table class="table">
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td colspan="2"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.name}}</td>
    <td>
      <a class="text-white" [routerLink]="['/category/edit',category.id]" style="margin-right: 20px">
        <button class="btn btn-primary" type="submit">Edit</button>
      </a>
    </td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="openDelete(category.id,category.name)"
              data-bs-target="#staticBackdrop">Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are You Sure ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete: <span style="color: red"> {{name}} </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(id)">Delete</button>
      </div>
    </div>
  </div>
</div>
